.claude/**
.vscode/**
.vscode-test/**
coverage/**
src/**
webview/**
.gitignore
.yarnrc
**/tsconfig.json
**/tsconfig.webview.json
**/eslint.config.mjs
**/vite.config.ts
**/vite.webview.config.ts
**/vitest.config.ts
**/*.map
**/*.ts
!dist/**
!images/**
